{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Node Express Docker App",
    "description": "REST API Docs",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "nodeexpress-alb-1908982391.ap-southeast-2.elb.amazonaws.com",
  "basePath": "/",
  "tags": [
    {
      "name": "Contacts",
      "description": "API for contacts in the system"
    }
  ],
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/contact": {
      "post": {
        "tags": [
          "Create new contact"
        ],
        "description": "Create new contact",
        "parameters": [
          {
            "name": "contact",
            "in": "body",
            "description": "Contact that we want to create",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "New contact is created",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Get all contacts"
        ],
        "summary": "Get all contacts",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Contacts"
            }
          }
        }
      }
    },
    "/contact/{contactId}": {
      "parameters": [
        {
          "name": "contactId",
          "in": "path",
          "required": true,
          "description": "contactId of contact we want to find",
          "type": "string"
        }
      ],
      "get": {
        "tags": [
          "Get one contact"
        ],
        "summary": "Get contact with a given contactId",
        "responses": {
          "200": {
            "description": "Contact found",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete user with given ID",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User is deleted",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        }
      },
      "put": {
        "summary": "Update user with give ID",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "description": "User with new values of properties",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User is updated",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Contact": {
      "required": [
        "first_name",
        "last_name",
        "email",
        "phone"
      ],
      "properties": {
        "first_name": {
          "type": "string",
          "example": "John"
        },
        "last_name": {
          "type": "string",
          "example": "Smith"
        },
        "email": {
          "type": "string",
          "example": "js@js.com"
        },
        "phone": {
          "type": "string",
          "example": 61418826661
        }
      }
    },
    "Contacts": {
      "type": "array",
      "$ref": "#/definitions/Contact"
    }
  }
}